<app-page-header></app-page-header>
<div class="parallax-container">
    <div class="parallax-bg">
        <!-- add previous height -->
        <div>
            <img src="https://fakeimg.pl/1500x300/?text=Previous">
        </div>
        <!-- previous height end -->
        <div
            class="bg-section"
            style="background-color: antiquewhite;"
        ></div>
        <div
            class="bg-section"
            style="background-color: brown;"
        ></div>
    </div>
    <div class="parallax-content">
        <img src="https://fakeimg.pl/1500x300/?text=Previous">
    </div>
    <div class="parallax-hole">parallax-hole</div>
    <div class="parallax-content">
        <img src="https://fakeimg.pl/1500x300/?text=Next">
    </div>
</div>
