<app-page-header title="Parallax scrolling"></app-page-header>
<div class="scroll-container">
    <div class="slide-cover">
        <div class="slide-cover-screen">
            <div class="slide-cover-action">
                <a
                    class="slide-cover-btn"
                    target="_blank"
                    href="https://www.ghibli.jp/works/totoro/"
                >
                    となりのトトロ
                </a>
            </div>
            <div
                class="slide-cover-bg"
                style="background-image: url('./assets/images/parallax-scrolling/my-neighbor-totoro/totoro036.jpg');"
            ></div>
        </div>
        <div class="slide-cover-screen">
            <div class="slide-cover-action">
                <a
                    class="slide-cover-btn"
                    target="_blank"
                    href="https://www.ghibli.jp/works/majo/"
                >
                    魔女の宅急便
                </a>
            </div>
            <div
                class="slide-cover-bg"
                style="background-image: url('./assets/images/parallax-scrolling/kiki-delivery-service/majo024.jpg');"
            ></div>
        </div>
        <div class="slide-cover-screen">
            <div class="slide-cover-action">
                <a
                    class="slide-cover-btn"
                    target="_blank"
                    href="https://www.ghibli.jp/works/chihiro/"
                >
                    千と千尋の神隠し
                </a>
            </div>
            <div
                class="slide-cover-bg"
                style="background-image: url('./assets/images/parallax-scrolling/spirited-away/chihiro044.jpg');"
            ></div>
        </div>
    </div>
</div>
