<div class="parallax-container">
    <div class="parallax-bg">
        <!-- add previous height -->
        <div>
            previous
            <img src="https://fakeimg.pl/1500x300/">
        </div>
        <!-- previous height end -->
        <div
            class="bg-section"
            style="background-color: antiquewhite;"
        ></div>
        <div
            class="bg-section"
            style="background-color: brown;"
        ></div>
    </div>
    <div class="parallax-content">
        previous
        <img src="https://fakeimg.pl/1500x300/">
    </div>
    <div class="parallax-hole">parallax-hole</div>
    <div class="parallax-content">
        next
        <img src="https://fakeimg.pl/1500x300/">
    </div>
</div>
