@import "mixins";

.scroll-container {
  position: relative;
  overflow-y: auto;
  height: calc(100vh - 64px);
}

.slide-cover {
  height: 100%;

  &-screen {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
