@import "mixins";

$transition-timing: 0.25s ease;

.landscape-card {
  position: relative;
  display: block;
  width: 270px;
  height: 160px;
  border-radius: 8px;
  overflow: hidden;

  &:hover {
    .landscape-card-title {
      top: 50%;
      left: 50%;
      color: rgb(255, 255, 255);
      transform: translate(-50%, -50%) scale(1.25);
    }

    .landscape-card-overlay {
      opacity: 1;
    }

    .landscape-card-img {
      filter: blur(3px);
    }
  }
}

.landscape-card-img {
  @include bg-center();

  width: 100%;
  height: 100%;
}

.landscape-card-title {
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 2;
  font-size: 18px;
  color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  transition: transform $transition-timing, top $transition-timing, left $transition-timing, color $transition-timing;

  &-dark {
    color: rgb(63, 63, 63);
  }
}

.landscape-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity $transition-timing;
}
