<ul class="link-list">
    <li>
        <app-landscape-card
            link="/parallax-scroll"
            title="Parallax scroll"
            img="./assets/images/dashboard/parallax-scrolling.gif"
        ></app-landscape-card>
    </li>
    <li>
        <app-landscape-card
            link="/custom-cursor"
            title="Custom cursor"
            color="dark"
            img="./assets/images/dashboard/custom-cursor.gif"
        ></app-landscape-card>
    </li>
    <li>
        <app-landscape-card
            link="/dynamic-svg-stroke"
            title="Dynamic svg stroke"
            color="dark"
            img="./assets/images/dashboard/dynamic-svg-stroke.gif"
        ></app-landscape-card>
    </li>
</ul>
